body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
}

nav {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul ul {
    padding-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#fileContent {
    flex-grow: 1;
    padding: 20px;
}

#fileDisplay {
    border: 1px solid #ccc;
    padding: 10px;
}
